# Postgres
POSTGRES_DB=knowledgetrees
POSTGRES_USER=kt
POSTGRES_PASSWORD=ktpass
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Backend
BACKEND_PORT=8000
DATABASE_URL=postgresql+psycogpg://kt:ktpass@db:5432/knowledgetrees

# Frontend
VITE_API_URL=https://localhost:8000